<div>
    <h3>Bestellübersicht</h3>
    ID: {{selectedOrder.id}} <br/>
    Name: {{selectedOrder.name}} <br/>
    Bestellnummer: {{selectedOrder.bestellnummer}} <br/>

    Wert der Bestellung: {{selectedOrder.wert}} <br>
</div>

<div *ngFor="let order of orders">

    <li class="orderRow" (click)="selectOrder(order)"> Bestellung von {{order.kunde.vorname}} {{order.kunde.nachname}}
        <div>
            {{order.id}}
            {{order.bestellnummer}}
            {{order.name}}
            Positionen: {{order.pos.length}} <br/>
            <ul>
                <li *ngFor="let artikel of order.pos">
                    <div *ngIf="artikel.art == 0"> Hier steht eine 2 </div>
                    <div *ngIf="artikel.art == 1"> Hier steht eine 1 </div>
                </li>
            </ul>
        </div>

        <div>

        </div>
    </li>
</div>